* {
  border: 0;
  padding: 0;
  margin: 0;
}

.App {
  text-align: left;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
  background-color: slategray;
  text-decoration-thickness: 3px;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: slategray;
}

.appButton {
  margin: 26px;
  padding: 10px;
  width: 198px;
  background-color: lightgray;
  border: 3px solid black;
  cursor: pointer;
}

.inputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid slategray;

}

.paddingClass {
  display: block;
  margin: 0px 25px;
  padding: 7px;
  box-sizing: border-box;
  width: 300px;
}

.Register {
  margin-left: 30px;
}

.Footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: slategray;
}

.nav-ul li a {
  color: #080505;
  padding: 6px;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.AddRepo {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-flow: column;
}

.fullWidth {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}